<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222">
    <a class="navbar-brand" href="#"> 
        <img class="imgLogo" src="../../../assets/img/sw_logo_horiz-04368052e188.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" active [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" active [routerLink]="['/character']">Personajes</a>
            </li>
        </ul>
    </div>
</nav>